@import url('https://fonts.googleapis.com/css?family=Nunito:300,700,800&display=swap');

$negative: rgba(242, 96, 55, 1);
$positive: rgba(59, 178, 115, 1);
$text: rgba(42, 43, 46, 1);
$background: rgba(254, 255, 254, 1);
$foreground: rgba(232, 232, 232, 1);
