@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap');

$primary-100: #ECF9F2;
$primary-200: #BAE8D0;
$primary-300: #8CD9B0;
$primary-400: #5ECA91;
$primary-500: #3BB273;
$primary-600: #329561;
$primary-700: #27774D;
$primary-800: #1E5C3B;
$primary-900: #133A25;

$warning-100: #FDECE7;
$warning-200: #FBC6B7;
$warning-300: #F8A48C;
$warning-400: #F58161;
$warning-500: #F26037;
$warning-600: #E13D0F;
$warning-700: #AC2F0B;
$warning-800: #862409;
$warning-900: #601A06;

$gray-100: #FAFAFA;
$gray-200: #EEEEED;
$gray-300: #D7D7D5;
$gray-400: #A5A49F;
$gray-500: #818079;
$gray-600: #5F5E59;
$gray-700: #353431;



$negative: rgba(242, 96, 55, 1);
$positive: rgba(59, 178, 115, 1);
$text: rgba(42, 43, 46, 1);
$background: rgba(254, 255, 254, 1);
$foreground: rgba(232, 232, 232, 1);
